
	<h1>All Contacts</h1>
	<ul>
		<a href="/contacts/new">Add New Contact</a> <br>
		<a href="/">Back To Main Menu</a>



  		<% Contact.all.each do |contact| %>
			<li><%= contact.first_name %> <%= contact.last_name %></li>

	
	    <form action="/contacts/<%= contact.id %>/delete" method="post">
		    <input type="hidden" name="_method" value="delete">
		    <input type="Submit" value="Delete">
	    </form>

		<button type="button"><a href="/contact/<%=contact.id%>/edit">Edit</a></button>

	<% end %>

</ul>	