<h1>Edit New Contact: </h1>

<form action="/contacts/edit" method="post">

	<label>
		First Name: 
		<input type="text" name="first_name" value="<%= @contact.first_name%>">
	</label>

	<label>
		Last Name: 
		<input type="text" name="last_name" value="<% @contact.last_name %>">
	</label>

	<label>
		Email: 
		<input type="text" name="email" value="<%= @contact.email %>">
	</label>

	<label>
		Note: 
		<input type="text" name="note" value="<% @contact.note %>">
	</label>

	<input type="submit" name="Submit">
</form>
