<h1>Create a New Contact: </h1>
<form action="/contacts" method="post">

<label>
	First Name: 
	<input type="text" name="first_name">
</label>

<label>
	Last Name: 
	<input type="text" name="last_name">
</label>

<label>
	Email: 
	<input type="text" name="email">
</label>
<label>
	Note: 
	<input type="text" name="note">
</label>
<input type="submit" name="Submit">
</form>
